<form method="POST" action="/pizzas/<%= @pizza.id %>"> 
  
  <label for="first-name">First Name:</label> 
  <input type="text" id="first-name" name="first_name" value="<%= @pizza.first_name %>"/> 
  
  <label for="last-name">Last Name:</label>
  <input type="text" id="last-name" name="last_name" value="<%= @pizza.last_name %>"/>

  <label for="pizza-select">Select Pizza</label>
  <select id="pizza-select" name="topping" value="<%= @pizza.topping %>"> 
    <option value="Margherita" <%= "selected" if (@pizza.topping == "Margherita") %> >Margherita</option> 
    <option value="Calzone" <%= "selected" if (@pizza.topping == "Calzone") %>>Calzone</option>
  </select>

  <label for="quantity">Quantity</label>
  <input min="1" step="1" type="number" name="quantity" id="quantity" value="<%= @pizza.quantity %>"/>
  
  <input type="submit" value="Update Order"/> 

</form>